@model IEnumerable<Candidate>
@{
    ViewData["Title"] = "Candidate";
}

<div class="text-center">
    <h1 class="display-4">Course App</h1>
</div>

@if(Model.Count() > 0)
{
    <h6 class="display-4">
        Applications(@Model.Count())
    </h6>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th>Email</th>
                <th>Full Name</th>
                <th>Apply At</th>
                <th>Course</th>
            </tr>

            @foreach(Candidate item in Model)
            {
                <tr>
                    <td>@item.Email</td>
                    <td>@item.FullName</td>
                    <td>@item.ApplyAt</td>
                    <td>@item.SelectedCourse</td>
                </tr>
            }
        </thead>
    </table>
}
else
{
    <div class="alert alert-info">
        There is no application. Please click <a asp-action="Apply">here to apply an application.</a>
    </div>
}